*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.ancho-maximo{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*navbar styling*/

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  background: #333333;
  
  
}

.navbar.sticky {
  padding: 15px 0;
  background: #FEC935;
}


.navbar .ancho-maximo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span{
  color: #FEC935;
  transition: all 0.3s ease;
}


.navbar.sticky .logo a span{
  color: #333333;

}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color .3s ease;
}

.navbar .menu li a:hover{
  color: #FEC935;
}


.navbar.sticky .menu li a:hover{
  color: #333333;

}

/*menu btn stylyng*/
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
  
}



/*seccion de inicio*/

.inicio{
  display: flex;
  background: url("/assets/img/mirando\ de\ frente.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.inicio .ancho-maximo {
  width: 100%;
  display: flex;
  /*margin: auto 0 auto 40px;*/
}

.inicio .ancho-maximo .row{
  margin-right: 0;
}

.inicio .contenido-inicio .text-1{
  font-size: 27px; 
}

.inicio .contenido-inicio .text-2{
  font-size: 56px;
  font-weight: 600;
  margin-left: -3px;  
}

.inicio .contenido-inicio .text-3{
  font-size: 36px;
  margin: 5px 0; 
}

.inicio .contenido-inicio .text-3 span{
  color: #FEC935;
  font-weight: 500;
}

.inicio .contenido-inicio a {
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.inicio .contenido-inicio .boton{
  display: inline-block;
  color: #fff;
  background: #FEC935;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  border: 2px solid #FEC935;
  transition: all 0.3s ease;
}
.inicio .contenido-inicio .boton:hover{
  color: #FEC935;
  background: none;
}


.inicio .contenido-inicio a{
  color: #FEC935;
  background: none;
}


/*codigo de stilos similares*/

section{
  padding: 100px 0;
  
}

.sobre-mi, .portafolio, .habilidades, .contactos{
  font-family: "poppins", "san-serif";
  
}

.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  

}

.sobre-mi .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #333333;
  transform: translateX(-50%);
}

.sobre-mi .title::after{
  content: '¿Quien soy?';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  background-color: #fff;
  transform: translateX(-50%);
}




/*stylos de la seccion SOBRE MI*/

.sobre-mi .portafolio{
  font-family: "poppins", "san-serif";
  
}

.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.sobre-mi .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #333333;
  transform: translateX(-50%);
}

.sobre-mi .title::after{
  content: '¿Quien soy?';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  background-color: #fff;
  transform: translateX(-50%);
}

.sobre-mi .contenido-sobremi,
.portafolio .portafolio-content,
.contactos .contenido-contacto{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.sobre-mi .contenido-sobremi .izquierda{
  width: 55%;
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 45%;
}

.sobre-mi .contenido-sobremi .derecha .text{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;

}

.sobre-mi .contenido-sobremi .derecha .text span{
  color: #FEC935;
  font-size: 24px;

}
.sobre-mi .contenido-sobremi .derecha p{
  text-align: justify;

}
.sobre-mi .contenido-sobremi .derecha a{
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.sobre-mi .contenido-sobremi .derecha a:hover{
  color: #FEC935;
  background: none;

}

/*seccion de portafolio*/

.portafolio{
  color: #fff;
  background: #333333;
}

.portafolio .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  

}
.portafolio .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.portafolio .title::after{
  content: 'Mis servicios';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
 background: #333333;
  transform: translateX(-50%);
}

.portafolio .portafolio-content .card{
  width: calc(50% - 20%);
  background: black;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all .3s ease;
}

.portafolio .portafolio-content .card:hover{
  background: #FEC935;
  color: #333333;
}

.portafolio .portafolio-content .card .box{
  transition: all .3s ease;
}

.portafolio .portafolio-content .card:hover .box{
  transform: scale(1.05);
}

.portafolio .portafolio-content .card i{
  font-size: 50px;
  color: #FEC935;
  transition: color .3s ease;
}

.portafolio .portafolio-content .card:hover i{
  color: #fff;
}

.portafolio .portafolio-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}


/*contenido del encabezado*/

.contacto{
  background-color: #FEFCFB;
}

@media(min-width:768px){
  .contenido-encabezado{
    display: flex;
    align-items: center;
    height: 85%;
  }
  .contenido-encabezado, .formulario_encabezado{
    flex: 0 0 calc(50% - 1rem);
  }
}

.texto-encabezado h2{
  font-size: 3rem;
  text-align: center;
  color: #333333;
  padding-top: 8rem;
}

@media(min-width:768px){
  .texto-encabezado h1{
    font-size: 6rem;
    text-align: left;
    padding-top: 0;
  }
  }

.formulario_encabezado{

  background-color: #FEC935;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  border-radius: .8rem;

}
.formulario_encabezado h2{
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  
}

@media(min-width:768px){
  .formulario_encabezado h2{
    font-size: 3rem;
    text-align: left;
  }
  }

.input-encabezado{
  margin-bottom: 1.5rem;
  width: 100%;
}


.input-encabezado input{
  width: 100%;
  padding: 0 1rem;
  height: 4rem;
  border: 1px solid #FEFCFB;
  border-radius: .5rem;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.btn {
  padding: 1rem 4rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: none;
  color: #FEFCFB;
  border-radius: 2rem;
  background-color: #333333;
  color: #FEC935; 
  
}
.btn:hover{
  cursor: pointer;
  background-color: #FEFCFB;
  color: #FEC935;

}




