<div class="scroll-up-btn">
  <i class="fa-solid fa-up"></i>
</div>
<nav class="navbar">
<div class="ancho-maximo">
  <div class="logo"><a href="#"><span>Portfo</span>lio.</a></div>
  <ul class="menu">
    <li><a href="#inicio" class="menu-btn">Inicio</a></li>
    <li><a href="#sobre-mi" class="menu-btn">Quien Soy</a></li>
    <li><a href="#portafolio" class="menu-btn">Portafolio</a></li>
    <li><a href="#contactos" class="menu-btn">Contacto</a></li>
    <li><a href="#agendar" class="menu-btn">Agendar</a></li>
  </ul>
  <div class="menu-btn">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>
</nav>

<!--seccion de inicio-->
<section class="inicio" id="inicio">
  <div class="ancho-maximo">
    <div class="contenido-inicio">
      <div class="text-1">Hola, mi nombre es</div>
      <div class="text-2">Scarleth Guzman</div>
      <div class="text-3">Diseñadora/<span>Desarrolladora web</span></div>
      <button class="boton">Dounload C.V</button>
    </div>
  </div>
</section>


  <!--secccion SOBRE MI-->

  <section class="sobre-mi" id="sobre-mi">

    <div class="ancho-maximo">
      <h2 class="title">Sobre Mi</h2>
      <div class="contenido-sobremi">
        <div class="columna izquierda">
          <img src="/assets/img/manos en el cuello.jpg" alt="">
        </div>
        <div class="columna derecha">
          <div class="text">Soy Scarleth
          <br>
          <span>Diseñadora / programadora</span></div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, molestias esse veritatis quos quisquam sint sed accusamuslo Possimus, molestias esse veritatis quos quisquam sint sed accusamuslo. molestias esse veritatis quos quisquam sint sed accusamuslo</p>
          <a href="#">Ver mas</a>
        </div>
      </div>
    </div>
  </section>

  <!--seccion portafolio-->

  <section class="portafolio" id="portafolio">
    <div class="ancho-maximo">
      <h2 class="title">Mi Portafolio</h2>
      <div class="portafolio-content">
        <div class="card">
          <div class="box">
            <i class="fa-solid fa-laptop-code"></i>
            <div class="text">Diseño web</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam quaerat dolore, voluptate quae consequatur magnam veritatis aut. Officiis facere aliquid eum. Numquam a dolorum excepturi odio inventore labore dolorem.</p>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <i class="fa-solid fa-book-open"></i>
            <div class="text">Diseño Editorial</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam quaerat dolore, voluptate quae consequatur magnam veritatis aut. Officiis facere aliquid eum. Numquam a dolorum excepturi odio inventore labore dolorem.</p>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <i class="fa-solid fa-pen-nib"></i>
            <div class="text">Branding</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam quaerat dolore, voluptate quae consequatur magnam veritatis aut. Officiis facere aliquid eum. Numquam a dolorum excepturi odio inventore labore dolorem.</p>
          </div>
        </div>  
      </div>
    </div>
  </section>

<section class="contactos" id="contactos">
  <div class="contenido-encabezado contenedor">
    <div class="texto-encabezado">

      <h2>Estamos para convertir tus sueños en una realidad tecnologica</h2>
    </div>

    <form class="formulario_encabezado">
      <h2>Contactate</h2>
      <div class="input-encabezado">
        <input type="text" placeholder="Nombre y Apellido" required="">
      </div>
      <div class="input-encabezado">
        <input type="email" placeholder="Correo">
      </div>
      <div class="input-encabezado">
        <input type="text" placeholder="Telefono" required="">
      </div>
      <div class="boton-encabezado">
        <input class="btn azul" type="submit" value="Enviar"  >
      </div>
    </form>
  </div>
</section>

<section class="agendar" id="agendar">

</section>



  

  
